.wrapper {
    width: 100%;
}

.download, .downloadObj {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #eee;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 10px;
    left: 20px;
    z-index: 1000;
}

.downloadObj {
    left: 54px;
}