@font-face {
  font-family: "Proxima Nova Rg";
  src: url("./assets/Prox_nova.otf");
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: "Proxima Nova Rg";
  src: url("./assets/Prox_nova.otf");
}

@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: "Proxima Nova Rg";
  src: url("./assets/Prox_nova_bold.otf");
}


* {
  box-sizing: border-box;
  font-family: "Proxima Nova Rg", -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar
  {
    width: 4px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #555;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
}

button {
  height: 48px!important;
  padding: 0 24px!important;
}